.entry-page {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15%;
}

.entry-page h1 {
    color: #fff;
    text-transform: uppercase;
    font-family: var(--primary-font);
    font-weight: normal;
    font-style: normal;
    font-size: 5em;
    transform: scale(0.0005);
    opacity: 0.0005;
    filter: blur(50px);
    text-shadow: 0 0 100px #fff, 0 0 10px #fff, 0 0 100px #fff, 0 0 100px #fff, 0 0 100px #fff, 0 0 100px #fff, 0 0 100px #fff;
}