.art-description {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 99;
    height: 100vh;
    width: 40%;
    backdrop-filter: blur(100px);
    font-family: var(--primary-font);
    color: #FFFF00;
}

.art-description article {
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    width: 60%;
}

.art-description article h1 {
    text-transform: uppercase;
    font-size: xxx-large;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.art-description article p {
    font-size: x-large;
}