.navigation-bar {
    position: fixed;
    top: 2vh;
    left: 50%;
    transform: translate(-50%, 2vh);
    z-index: 999;
    width: 60%;
}

.navigation-bar nav > ul {
    display: flex;
    list-style: none;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    margin-top: 0;
    border: 2px solid #fff;
}

.navigation-bar nav > ul > div {
    border-right: 1px solid #fff;
    text-align: center;
    padding: 2rem;
    width: 100%;
}

.navigation-bar nav > ul > div:last-child {
    border-right: none;
}

.navigation-bar nav > ul > div > li > a {
    color: #fff;
    text-decoration: none;
    font-family: var(--primary-font);
    text-transform: uppercase;
}