#music-player {
    position: fixed;
    bottom: 0vh;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1rem;
    width: 20%;
    border-radius: 15px;
}

#music-player #music-player-image {
    width: 100%;
    border-radius: 15px;
}

#music-player .music-player-controls {
    display: flex;
    justify-content: space-evenly;
}

#music-player .music-player-controls img {
    width: 5vw;
    cursor: pointer;
}